@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-valorant-dark text-white font-sans min-h-screen;
}

a {
  @apply text-valorant-red hover:underline;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 70, 85, 0.5);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: rgba(15, 25, 35, 0.6);
}
